pre code {
    padding: 5px 12px !important;         /* 넉넉한 내부 여백 */
    margin: 0 4px !important;             /* 코드 간의 적당한 간격 */
    border-radius: 6px !important;
    font-size: 0.8em !important;          /* 살짝 큰 폰트 사이즈 */
    font-family: 'D2 Coding', monospace;  /* D2 Coding 폰트 적용 */
}

p code, li code {
    background-color: #ffffff; /* 밝은 회색 배경 */
    margin: 0 4px !important;  /* 코드 간의 적당한 간격 */
    border-radius: 6px !important;
    font-weight: 600;          /* 굵은 글씨 */
    font-size: 0.75em !important; /* 살짝 큰 폰트 사이즈 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* 다크 모드에서 더 진한 그림자 */
    border: 1px solid #ff6347;  /* 붉은 계열 테두리 (tomato 색상) */
    padding: 2px 5px !important;           /* 내부 padding 추가 */
}



/* note 타입의 admonition에 대한 폰트 크기 조정 */
.admonition.info {
    font-size: 0.9em;  /* 기본 폰트 크기 대비 20% 크게 */
}

.admonition.info .admonition-title {
    font-size: 1.0em;  /* 제목의 폰트 크기를 30% 크게 */
}

@font-face {
    font-family: 'RixXladywatermelonR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'RixXladywatermelonR', sans-serif;
}
