name: Deploy MkDocs

on:
  push:
    branches:
      - main  # main 브랜치에 push될 때마다 실행

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: | 
        pip install mkdocs mkdocs-material mkdocs-awesome-pages-plugin mkdocs-glightbox

    - name: Deploy to GitHub Pages
      run: mkdocs gh-deploy --force
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

